<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyANFwPH0vGHNhCoce9-b8CApfRRoxXFYkI</string>
	<key>GCM_SENDER_ID</key>
	<string>245443582356</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseCli</string>
	<key>PROJECT_ID</key>
	<string>fir-cli-11b20</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-cli-11b20.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:245443582356:ios:3cb4b42aa3d4db02dad781</string>
	<key>DATABASE_URL</key>
	<string>https://fir-cli-11b20-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>